html{
   scroll-behavior: smooth;
}




  
  #text {
    text-align: center;
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 38px;
    margin-left: 10%;
    text-align: center;

  }
 nav li a{
 text-decoration: none;
 color: white;
 margin-bottom: -25px;
 scroll-behavior: smooth;


 }
 nav ul{
    display: flex;
    list-style: none;
    gap: 100px;
    margin-left: 40%;
    
 }
 a:hover{
    background-color: rgb(230, 11, 11);
 }
 nav{
    background-color: black;
    padding: 20px;
    text-align: center;
   
 }
 
 .blogContent{
    margin-left: 30%;
 }
 
 #heading-one{
  margin-left: 10%;
  font-size: 50px;
 }
 #paragraph-one{
    margin-left: 30%;
 }
 footer{
    background-color: black;
    color: white;

 }
 footer h2 {
    text-align: center;
 }
 footer p{
    text-align: center;
 }
 .other-books{
    display: flex;
    margin-left: 10%;
 }
 .myimages{
    width: 20%;
 }
 .other-books a{
    text-decoration: none;
    color: rgb(77, 73, 73);
 }
 #bookstitle{
    margin-left: 30%;

 }
 #bookstitle a{
    text-decoration: none;
 }



@media(min-width:375px) and (max-width:700px){

   nav i{
      display: none;
   
   
      
   
   }
   .icons{
      display: none;
   }
     
  #text {   padding: 2px;
   font-size: 25px;

 }


nav li a{
text-decoration: none;
color: white;
margin-bottom: -25px;


}
nav ul{
   gap: 1px;
   margin-left: 0.5%;
   font-size: smaller;
   
}
a:hover{
   background-color: rgb(230, 11, 11);
}
nav{
   background-color: black;
   padding: 20px;
}

.blogContent{
   margin-left: 10%;
}

#heading-one{
 font-size: 20px;
 margin-left: 3%;
}
#paragraph-one{
   margin-left: 10%;
}
footer{
   background-color: black;
   color: white;

}
footer h2 {
   text-align: center;
}
footer p{
   text-align: center;
}
.other-books{
   display: flex;
   margin-left: 10%;
}
.myimages{
   width: 20%;
}
.other-books a{
   text-decoration: none;
   color: rgb(77, 73, 73);
}
#bookstitle{
   margin-left: 30%;

}
#bookstitle a{
   text-decoration: none;
}
.noahimage{
   width: 70vw;
}
}


@media(min-width:768px) and (max-width:1024px){ 
   nav i{
      display: none;
   
   
      
   
   }
   .icons{
      display: none;
   }
      
            
   #text {
     padding: 4px;
     font-size: 40px;
 
   }
  
  nav ul{
     display: flex;
     list-style: none;
     gap: 80px;
     margin-left: 20%;
     
  }
  
  .blogContent{
     margin-left: 10%;
  }
  
  #heading-one{
   margin-left: 20%;
   font-size: 30px;
  }
  #paragraph-one{
     margin-left: 30%;
  }
  footer{
     background-color: black;
     color: white;
 
  }
  footer h2 {
     text-align: center;
  }
  footer p{
     text-align: center;
  }
  .other-books{
     display: flex;
     margin-left: 20%;
  }
  .myimages{
     width: 20%;
  }
  .other-books a{
     text-decoration: none;
     color: rgb(77, 73, 73);
     font-size: 10px;
  }
  #bookstitle{
     margin-left: 35%;
     font-size: 25px;
 
  }
  #bookstitle a{
     text-decoration: none;
  }
  .noahimage{
     width: 80vw;
 
  }
 }
 @media(min-width:540px) and (max-width:720px){

   nav i{
      display: none;  
   
   }
   .icons{
      display: none;
   }
   #text {
     padding: 4px;
     font-size: 30px;
 
   }
  
  nav ul{

     gap: 50px;
     margin-left: 80%;
     
  }
  
  .blogContent{
     margin-left: 10%;
  }
  
  #heading-one{
   margin-left: 20%;
   font-size: 25px;
  }
  #paragraph-one{
     margin-left: 30%;
  }
  footer{
     background-color: black;
     color: white;
 
  }
  footer h2 {
     text-align: center;
  }
  footer p{
     text-align: center;
  }
  .other-books{
     display: flex;
     margin-left: 25%;
  }
  .myimages{
     width: 20%;
  }
  .other-books a{
     text-decoration: none;
     color: rgb(77, 73, 73);
  }
  #bookstitle{
     margin-left: 40%;
     font-size: 25px;
 
  }
  #bookstitle a{
     text-decoration: none;
  }
  .noahimage{
     width: 80vw;
 
  }
  
 
 
   }
 
     @media (min-width: 360px) and (max-width:720px) {
      nav i{
         display: none;
      
      
         
      
      }
      .icons{
         display: none;
      }
       
         #text {
           padding: 4px;
           font-size: 15px;
       
         }
        
        nav ul{
           display: flex;
           list-style: none;
           gap: 40px;
           margin-left: 1%;
           
        }
        
        .blogContent{
           margin-left: 10%;
        }
        
        #heading-one{
         margin-left: 16%;
         font-size: 20px;
        }
        #paragraph-one{
           margin-left: 25%;
        }
        footer{
           background-color: black;
           color: white;
       
        }
        footer h2 {
           text-align: center;
        }
        footer p{
           text-align: center;
        }
        .other-books{
           display: flex;
           margin-left: 25%;
        }
        .myimages{
           width: 20%;
        }
        .other-books a{
           text-decoration: none;
           color: rgb(77, 73, 73);
        }
        #bookstitle{
           margin-left: 40%;
           font-size: 20px;
       
        }
        #bookstitle a{
           text-decoration: none;
        }
        .noahimage{
           width: 80vw;
       
        }
      }




  
  @media (max-width: 344px) and (min-width:800px){
   nav i{
      display: none;
   
   
      
   
   }
   .icons{
      display: none;
   }
    
   
  #text {
    padding: 4px;
    font-size: 2px;

  }
 
 nav ul{
    gap: 50px;
    margin-left: 1%;
    
 }
 
 .blogContent{
    margin-left: 10%;
 }
 
 #heading-one{
  margin-left: 10%;
  font-size: 25px;
 }
 #paragraph-one{
    margin-left: 30%;
 }
 footer{
    background-color: black;
    color: white;

 }
 footer h2 {
    text-align: center;
 }
 footer p{
    text-align: center;
 }
 .other-books{
    display: flex;
    margin-left: 25%;
 }
 .myimages{
    width: 20%;
 }
 .other-books a{
    text-decoration: none;
    color: rgb(77, 73, 73);
 }
 #bookstitle{
    margin-left: 40%;
    font-size: 25px;

 }
 #bookstitle a{
    text-decoration: none;
 }
 .noahimage{
    width: 80vw;

 }
 


  }

    @media (max-width: 1280px) {

      nav i{
         display: none;
      
      
         
      
      }
      .icons{
         display: none;
      }
        #text {
          padding: 4px;
          font-size: 30px;
      
        }
       
       nav ul{
          display: flex;
          list-style: none;
          gap: 40px;
          margin-left: 35%;
          
       }
       
       .blogContent{
          margin-left: 10%;
       }
       
       #heading-one{
        margin-left: 30%;
        font-size: 30px;
       }
       #paragraph-one{
          margin-left: 35%;
       }
       footer{
          background-color: black;
          color: white;
      
       }
       footer h2 {
          text-align: center;
       }
       footer p{
          text-align: center;
       }
       .other-books{
          display: flex;
          margin-left: 25%;
       }
       .myimages{
          width: 20%;
       }
       .other-books a{
          text-decoration: none;
          color: rgb(77, 73, 73);
       }
       #bookstitle{
          margin-left: 40%;
          font-size: 25px;
      
       }
       #bookstitle a{
          text-decoration: none;
       }
       .noahimage{
          width: 80vw;
      
       }
       
      
      
        }
        @media (max-width: 414px) {
      
         nav i{
            display: none;
         
         
            
         
         }
         .icons{
            display: none;
         }
          #text {
            padding: 4px;
            font-size: 20px;
        
          }
         
         nav ul{
            display: flex;
            list-style: none;
            gap: 30px;
            margin-left: 1.5%;
            
         }
         
         .blogContent{
            margin-left: 10%;
         }
         
         #heading-one{
          margin-left: 10%;
          font-size: 25px;
         }
         #paragraph-one{
            margin-left: 30%;
         }
         footer{
            background-color: black;
            color: white;
        
         }
         footer h2 {
            text-align: center;
         }
         footer p{
            text-align: center;
         }
         .other-books{
            display: flex;
            margin-left: 20%;
         }
         .myimages{
            width: 20%;
         }
         .other-books a{
            text-decoration: none;
            color: rgb(77, 73, 73);
            font-size: 10px;
         }
         #bookstitle{
            margin-left: 35%;
            font-size: 25px;
        
         }
         #bookstitle a{
            text-decoration: none;
         }
         .noahimage{
            width: 80vw;
        
         }
        }
        @media (max-width: 768px) {
      
         nav i{
            display: none;
         
         
            
         
         }
         .icons{
            display: none;
         }
            #text {
              padding: 4px;
              font-size: 20px;
          
            }
           
           nav ul{
              display: flex;
              list-style: none;
              gap: 30px;
              margin-left: 30%;
              
           }
           
           .blogContent{
              margin-left: 10%;
           }
           
           #heading-one{
            margin-left: 10%;
            font-size: 25px;
           }
           #paragraph-one{
              margin-left: 30%;
           }
           footer{
              background-color: black;
              color: white;
          
           }
           footer h2 {
              text-align: center;
           }
           footer p{
              text-align: center;
           }
           .other-books{
              display: flex;
              margin-left: 20%;
           }
           .myimages{
              width: 20%;
           }
           .other-books a{
              text-decoration: none;
              color: rgb(77, 73, 73);
              font-size: 10px;
           }
           #bookstitle{
              margin-left: 35%;
              font-size: 25px;
          
           }
           #bookstitle a{
              text-decoration: none;
           }
           .noahimage{
              width: 80vw;
          
           }
          }

        @media (max-width: 1024px) {
         nav i{
            display: none;
         
         
            
         
         }
         .icons{
            display: none;
         }
            
            #text {
              padding: 4px;
              font-size: 20px;
          
            }
           
           nav ul{
              display: flex;
              list-style: none;
              gap: 30px;
              margin-left: 30%;
              
           }
           
           .blogContent{
              margin-left: 10%;
           }
           
           #heading-one{
            margin-left: 25%;
            font-size: 25px;
           }
           #paragraph-one{
              margin-left: 30%;
           }
           footer{
              background-color: black;
              color: white;
          
           }
           footer h2 {
              text-align: center;
           }
           footer p{
              text-align: center;
           }
           .other-books{
              display: flex;
              margin-left: 20%;
           }
           .myimages{
              width: 20%;
           }
           .other-books a{
              text-decoration: none;
              color: rgb(77, 73, 73);
              font-size: 10px;
           }
           #bookstitle{
              margin-left: 35%;
              font-size: 25px;
          
           }
           #bookstitle a{
              text-decoration: none;
           }
           .noahimage{
              width: 80vw;
          
           }
          }
          @media (max-width: 344px) {
            nav i{
               display: none;
            
            
               
            
            }
            .icons{
               display: none;
            }
            
            #text {
              padding: 4px;
              font-size: 20px;
          
            }
           
           nav ul{
              display: flex;
              list-style: none;
              gap: 3px;
              margin-left:1% ;
            
              
           }
           
           .blogContent{
              margin-left: 10%;
           }
           
           #heading-one{
            margin-left: 15%;
            font-size: 20px;
           }
           #paragraph-one{
              margin-left: 30%;
           }
           footer{
              background-color: black;
              color: white;
          
           }
           footer h2 {
              text-align: center;
           }
           footer p{
              text-align: center;
           }
           .other-books{
              display: flex;
              margin-left: 20%;
           }
           .myimages{
              width: 20%;
           }
           .other-books a{
              text-decoration: none;
              color: rgb(77, 73, 73);
              font-size: 10px;
           }
           #bookstitle{
              margin-left: 35%;
              font-size: 25px;
          
           }
           #bookstitle a{
              text-decoration: none;
           }
           .noahimage{
              width: 80vw;
          
           }
          }

          @media (max-width: 540px) {
      
            nav i{
               display: none;
            
            
               
            
            }
            .icons{
               display: none;
            }
            #text {
              padding: 4px;
              font-size: 15px;
          
            }
           
           nav ul{
              display: flex;
              list-style: none;
              gap: 10px;
              margin-left: 20%;
              
           }
           
           .blogContent{
              margin-left: 10%;
           }
           
           #heading-one{
            margin-left: 20%;
            font-size: 20px;
           }
           #paragraph-one{
              margin-left: 30%;
           }
           footer{
              background-color: black;
              color: white;
          
           }
           footer h2 {
              text-align: center;
           }
           footer p{
              text-align: center;
           }
           .other-books{
              display: flex;
              margin-left: 20%;
           }
           .myimages{
              width: 20%;
           }
           .other-books a{
              text-decoration: none;
              color: rgb(77, 73, 73);
              font-size: 10px;
           }
           #bookstitle{
              margin-left: 35%;
              font-size: 25px;
          
           }
           #bookstitle a{
              text-decoration: none;
           }
           .noahimage{
              width: 80vw;
          
           }
          }

          @media(min-width:768px) and (max-width:1024px) {
            nav i{
               display: none;
            
            
               
            
            }
            .icons{
               display: none;
            }
            
            #text {
              padding: 4px;
              font-size: 40px;
          
            }
           
           nav ul{
              display: flex;
              list-style: none;
              gap: 80px;
              margin-left: 35%;
              
           }
           
           .blogContent{
              margin-left: 10%;
           }
           
           #heading-one{
            margin-left: 32%;
            font-size: 30px;
           }
           #paragraph-one{
              margin-left: 35%;
           }
           footer{
              background-color: black;
              color: white;
          
           }
           footer h2 {
              text-align: center;
           }
           footer p{
              text-align: center;
           }
           .other-books{
              display: flex;
              margin-left: 20%;
           }
           .myimages{
              width: 20%;
           }
           .other-books a{
              text-decoration: none;
              color: rgb(77, 73, 73);
              font-size: 10px;
           }
           #bookstitle{
              margin-left: 35%;
              font-size: 25px;
          
           }
           #bookstitle a{
              text-decoration: none;
           }
           .noahimage{
              width: 80vw;
          
           }
          }

          @media (max-width: 412px) {
      
            nav i{
               display: none;
            
            
               
            
            }
            .icons {
               display: none;
            }
            #text {
              padding: 4px;
              font-size: 15px;
          
            }
           
           nav ul{
              display: flex;
              list-style: none;
              gap: 10px;
              margin-left: 20%;
              
           }
           
           .blogContent{
              margin-left: 10%;
           }
           
           #heading-one{
            margin-left: 20%;
            font-size: 20px;
           }
           #paragraph-one{
              margin-left: 30%;
           }
           footer{
              background-color: black;
              color: white;
          
           }
           footer h2 {
              text-align: center;
           }
           footer p{
              text-align: center;
           }
           .other-books{
              display: flex;
              margin-left: 20%;
           }
           .myimages{
              width: 20%;
           }
           .other-books a{
              text-decoration: none;
              color: rgb(77, 73, 73);
              font-size: 10px;
           }
           #bookstitle{
              margin-left: 35%;
              font-size: 25px;
          
           }
           #bookstitle a{
              text-decoration: none;
           }
           .noahimage{
              width: 80vw;
          
           }
          }



   